.link {
    transition: $transitionTime;
   @include flex($align: center, $isInline: true);

    &--cyan {
        padding-bottom: 3px;
        font-size: 1.1rem;
        color: $colorCyan;
        border-bottom: 1px solid $colorCyan;

        &:hover,
        &:focus {
            border-color: transparent;
        }
    }

    &__icon--right {
        margin-left: 0.7rem;
    }
}