.link {
	@include flex($align: center, $isInline: true);

	&--cyan {
		color: $colorCyan;
		font-size: 1.15rem;
		border-bottom: 1px solid $colorCyan;
		padding-bottom: 3px;
		transition: $transitionTime;

		&:hover,
		&:focus {
			border-color: transparent;
		}
	}

	&__icon--right {
		margin-left: 0.6rem;
	}
}
