.nav {
	&__list {
		display: flex;
	}

	&__list--column {
		flex-direction: column;

		&:not(:last-child){
			margin-bottom: 2.5rem;
		}
	}

	&__item:not(:last-child):not(.nav__item--inColumn) {
		margin-right: 2rem;
	}

	&__item--inColumn:not(:last-child){
		margin-bottom: 1rem;
	}

	&__link {
		font-family: $fontAccent;
		font-size: 1rem;
		text-transform: capitalize;
		transition: $transitionTime;

		&:hover,
		&:focus {
			color: $colorCyan;
		}
	}

	&__link--large {
		font-family: "Open Sans", sans-serif;
		font-size: 1.3rem;
	}
}

@include minMedia(500px) {
	.nav {
		&__list--column:not(:last-child) {
			margin-bottom: 0;
			margin-right: 6rem;
		}

		&__item:not(:last-child):not(.nav__item--inColumn) {
			margin-right: 3rem;
		}
	}
}
