.img {
	max-width: 100%;
}

.contentWrapper {
	max-width: 94rem;
	margin: 0 auto;
}

.main__section {
	@include flex(column, center, center);
	padding: 6rem 2rem;
}

.header__img,
.info__img {
	width: 30rem;
	margin-bottom: 3rem;
}

.header {
	padding: 2rem;

	&__bar {
		@include flex($justify: space-between, $align: center);
		margin-bottom: 4rem;
	}

	&__content {
		@include flex(column, center, center);
		text-align: center;
	}

	&__logo {
		width: 8rem;
	}

	&__text {
		margin-bottom: 3rem;
	}

	&__title {
		margin-bottom: 1rem;
		max-width: 30rem;
	}

	&__text {
		max-width: 22rem;
	}
}

.features__row:not(:last-child),
.feature:not(:last-child) {
	margin-bottom: 6rem;
}

.features__row {
	@include flex(column, $align: center);
}

.feature {
	text-align: center;
	max-width: 30rem;

	&__icon {
		height: 5rem;
		margin-bottom: 2.5rem;
	}

	&__title {
		margin-bottom: 1rem;
	}
}

.info {
	text-align: left;

	&__title,
	&__text {
		margin-bottom: 1.5rem;
	}

	&__title {
		text-align: center;
	}
}

.card {
	max-width: 36rem;

	&:not(:last-child) {
		margin-bottom: 2rem;
	}
}

.testimonials {
	padding: 4rem;
}

.footer {
	padding: 3rem 2rem;
	position: relative;

	&__logo {
		width: 12rem;
		margin-bottom: 3rem;
	}

	&__content > * {
		margin-bottom: 3rem;
	}

	&__socialMedia {
		text-align: center;
	}
}

.credits {
	position: absolute;
	bottom: 1rem;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: 10px;

	&__link {
		transition: $transitionTime;

		&:hover,
		&:focus {
			color: $colorBlue;
		}
	}
}

@include minMedia(340px) {
	.header__text {
		max-width: 26rem;
	}
}
