.img {
	max-width: 100%;
}

.contentWrapper {
	max-width: 94rem;
	margin: 0 auto;
}

.header {
	padding: 2rem;

	&__bar {
		@include flex($justify: space-between, $align: center);
		margin-bottom: 4rem;
	}

	&__content {
		@include flex(column, center, center);
		text-align: center;
	}

	&__logo {
		width: 8rem;
	}

	&__img,
	&__text {
		margin-bottom: 3rem;
	}

	&__img {
		width: 30rem;
	}

	&__title {
		margin-bottom: 1rem;
		max-width: 30rem;
	}

	&__text {
		max-width: 22rem;
	}
}

.main__section {
	@include flex(column, center, center);
	padding: 6rem 2rem;
}

.features {
	flex-direction: row;
	flex-wrap: wrap;
	padding: 3rem 0;
}

.feature {
	text-align: center;
	margin: 3rem 2rem;
	max-width: 26rem;

	&__icon {
		height: 6rem;
		margin-bottom: 2rem;
	}

	&__title {
		margin-bottom: .6rem;
	}
}

.info {
	text-align: center;

	&__img {
		width: 30rem;
		margin-bottom: 3rem;
	}

	&__text {
		text-align: left;
	}

	&__title,
	&__text {
		margin-bottom: 1.5rem;
	}
}

@include minMedia(340px) {
	.header__text {
		max-width: 26rem;
	}
}

@include minMedia(500px) {
	.header {
		padding: 2.5rem 4rem 4rem 4rem;

		&__img {
			width: 40rem;
		}

		&__title {
			max-width: 45rem;
		}

		&__text {
			max-width: 40rem;
		}
	}

	.main__section {
		padding: 7rem 4rem;
	}

	.info {
		&__img {
			width: 40rem;
			margin-bottom: 4rem;
		}

		&__content {
			max-width: 40rem;
		}
	}
}

@include minMedia(880px) {
	.info {
		flex-direction: row;

		&__img,
		&__content {
			width: 50%;
		}

		&__img {
			margin-bottom: 0;
		}

		&__content {
			text-align: left;
			padding-left: 3rem;
		}

		&__title {
			max-width: 24rem;
		}
	}
}

@include minMedia(1000px) {
	.feature {
		max-width: 30rem;
	}
}

@include minMedia(1200px) {
	.feature {
		margin: 3rem 4rem;
	}
}
